<div class="ui attached secondary menu top-menu">
  <% ['Sessions', 'Jobs', 'Clients', 'Invoices', 'Statistics', 'Profile'].each do |label| %>
    <a
      class="item <%= 'active' if @path.include? label.downcase %>"
      href="/<%= label.downcase %>"
    >
      <%= label %>
    </a>
  <% end %>

  <%= erb :"partials/timer" %>
</div>
