<div class="ui cards">
  <% @clients.each do |client| %>
    <a class="card" href="/clients/<%= client.id %>">
      <div class="content">
          <h4 class="header">
            <%= client.name %>
          </h4>
          <div class="meta">
            <%= client.jobs.count %> jobs and
            <%= client.sessions.count %> sessions
          </div>
      </div>
    </a>
  <% end %>
</div>
