<div class="ui cards">
  <% @jobs.each do |job|  %>
    <a class="card" href="/jobs/<%= job.id %>">
      <div class="content">
          <h4 class="header">
            <%= job.name %>
          </h4>
          <div class="meta">
            <div><%= job.client.name %></div>
            <div><%= job.duration %></div>
          </div>
      </div>
    </a>
  <% end %>
</div>
