<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/semantic.min.css">


<div id="app">
    <div class="ui attached secondary menu top-menu">
      <% ['Sessions', 'Jobs', 'Clients', 'Invoices'].each do |a| %>
        <a class="item" href="/<%= a.downcase %>">
          <%= a %>
        </a>
      <% end %>
    </div>

    <main>
      <%= yield %>
    </main>
</div>
