<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/semantic.min.js"></script>

<div id="app">
    <div class="ui attached secondary menu top-menu">
      <% ['Sessions', 'Jobs', 'Clients', 'Invoices'].each do |label| %>
        <a class="item <%= 'active' if @path.include? label.downcase %>" href="/<%= label.downcase %>">
          <%= label %>
        </a>
      <% end %>
    </div>

    <main>
      <%= yield %>
    </main>
</div>
