<%= erb :"partials/includes" %>

<div class="login">
  <h2 class="ui header">Log In</h2>
  <form class="ui form">
      <div class="field">
        <input
          name="user[username]"
          placeholder="Username"
        >
      </div>
      <div class="field">
        <input
          name="user[password]"
          placeholder="Password"
          type="password"
        >
      </div>
  </form>
  <div class="actions">
    <button id="try" class="ui basic button try">
      Try
    </button>
    <button id="register" class="ui basic button register">
      Register
    </button>
    <button id="login" class="ui right floated secondary button">
      Login
    </button>
  </div>
</div>
