<%= erb :"partials/includes" %>

<div class="login">
  <h2 class="ui header">Log In</h2>
  <form class="ui form" method="post">
      <div class="field">
        <input
          name="user[username]"
          placeholder="Username"
        >
      </div>
      <div class="field">
        <input
          name="user[password]"
          placeholder="Password"
          type="password"
        >
      </div>
    <button class="ui right floated secondary button" type="submit">
      Login
    </button>
  </form>
</div>
