<div class="ui container">
  <div class="ui padded segment">
    <h3 class="ui header">
      Profile
      <a href="/logout" class="ui tiny right floated button">
        Log out
      </a>
    </h3>

    <%=
      @items = {
        'Username' =>  @user.username
      }

      erb :"partials/divided_list"
     %>
  </div>
</div>
