<div class="ui container">
  <div class="ui padded segment">
    <h3 class="ui header">
      Profile
      <div class="detail-actions">
        <div style="display: inline">
          <label for="import" class="ui tiny labeled icon button">
            <i class="upload icon"></i>
            Import
          </label>
          <input id="import" type="file" id="file" style="display:none">
        </div>

        <% {'download' => 'Export',
            'sign out' => 'Logout'}.each do |icon, label|
        %>
          <%= @icon = icon
              @action = label
              erb :"partials/icon_button"
          %>
        <% end %>
      </div>
    </h3>

    <%=
      @items = {
        'Username' =>  @user.username
      }

      erb :"partials/divided_list"
     %>
  </div>
</div>
