<div class="ui container">
    <% @sessions.each do |session| %>
      <div class="ui segment">
        <h4 class="ui dividing header">
          <%= session.job.name %>
        </h4>
        <p>Start: <%= session.start_date %></p>
        <p>End: <%= session.end_date %> </p>
      </div>
    <% end %>
</div>
