<div class="ui container">
  <div class="ui divided relaxed items">
    <% @sessions.each do |session| %>
      <div class="item">
        <div class="content">
            <a class="header">
              <%= session.job.name %>
            </a>
            <div class="meta">
              <span class="start-date">
                <%= session.start_date %>
              </span>
              -
              <span class="end-date">
                <%= session.start_date %>
              </span>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
