<div class="ui container">
  <div class="ui padded segment">
    <h3 class="ui header">
      Statistics
    </h3>

    <h3 class="ui dividing header">
      Time
    </h4>
    <%=
      @items = {
        'Total' => duration(@user.total_time),
        'Today' => duration(@user.time_today)
      }
      erb :"partials/divided_list"
    %>

    <h3 class="ui dividing header">
      Earnings
    </h4>
    <%=
      @items = {
        'Total' => money(@user.total_earned),
        'Average Hourly Rate' => "#{money @user.average_hourly_rate}/hour"
      }
      erb :"partials/divided_list"
    %>
</div>
