<div class="ui container">
  <div class="ui padded segment">
    <h3 class="ui header">
      Statistics
    </h3>

    <h4 class="ui dividing header">
      Time
    </h4>

    <h4 class="ui dividing header">
      Money
    </h4>
  </div>
</div>
