<div class="ui container">
  <div class="ui padded segment">
    <h3 class="ui header">
      Statistics
    </h3>

    <h4 class="ui dividing header">
      Time
    </h4>
    <ul class="ui very relaxed divided list">
      <li>Total: <%= duration @user.total_time %></li>
      <li>Today: <%= duration @user.time_today %></li>
    </ul>

    <h4 class="ui dividing header">
      Earnings
    </h4>
    <ul class="ui very relaxed divided list">
      <li>Total: <%= money @user.total_earned %></li>
      <li>Average Hourly Rate: <%= money @user.average_hourly_rate %>/hr</li>
    </ul>
  </div>
</div>
