/**
 * Global
 */
* {
  box-sizing: border-box !important;
}

body {
  padding: 25px !important;
}

#app {
  height: 100%;
  border: 1px solid #D4D4D5;
}

.hidden {
  display: none !important;
}

/**
 * Login
 */
.login {
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/**
 * Timer
 */
.menu .timer {
  min-width: 200px;
  align-items: center;
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 3px;
  margin: 0 .35714286em;
  margin-left: auto;
}

.menu .timer .toggle {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  transition: all 0.2s;
  margin-right: 10px;
}

.menu .timer .toggle[disabled], .menu .timer .placeholder {
  color: grey;
}

.menu .timer .toggle:not([disabled]):hover {
  border: 1px solid #D4D4D5;
  color: teal;
}

.menu .timer .toggle i {
  position: relative;
  top: -3px;
  left: 2px;
}

.menu .timer .text span {
  margin-left: 10px;
}

.menu .timer .job-select {
  background: none;
  /* padding-right: 50px; */
  width: 70%;
  border: none;
}


/**
 * Top menu
 */
#app > .top-menu {
  padding: 5px 8px;
  display: flex;
  border-width: 0px;
}

/**
 * Resource menu
 */
.resource-menu {
    float: left;
    width: 150px;
}


/**
 * Single
 */
main {
  height: calc(100% - 45px);
  width: 100%;
  padding: 25px;
  background-color: #eee;
  overflow-y: auto;
}

main table {
  margin-top: 20px !important;
}

/**
 * Detail
 */
.detail-actions {
  float: right !important;
}

/**
 * Card
 */
.card.new {
  opacity: 0.3 !important;
  height: 88px;
}

.card.new:hover {
  opacity: 0.6 !important;
}


.card .header {
  margin-bottom: 3px;
}

/**
 * Feed
 */
#sessions {
  position: relative;
}

.ui.container.feed-container  {
  max-width: 700px !important;
}

.feed .event {
  margin-bottom: 50px !important;
  padding: 25px !important;
}

.feed .new-session {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  border: grey;
    width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
    position: absolute;
}

.feed .event:hover, .feed .new-session:hover {
  background-color: rgba(0, 0, 0, 0.03) !important;
}


.feed .new-session:hover {
  color: grey;
}

.feed .event .meta > * {
  margin-left: 0 !important;
  margin-bottom: 5px;
}

.feed .event .meta .placeholder {
  opacity: 0.5;
  font-style: italic;
}

/**
 * Facts list
 */
.very.relaxed.list .header {
  margin-bottom: 3px !important;
}


button.toggle {}
