/**
 * Global
 */
* {
  box-sizing: border-box;
}

body {
  padding: 25px;
}

#app {
  background-color: white;
  height: calc(100%);
  border-right: 1px solid lightgrey;
}

#app > :not(.top-menu) {
  height: calc(100% - 40px);
}

.hidden {
  display: none !important;
}


/**
 * Timer
 */
.timer {
  position: absolute !important;
  top: 27px;
  left: 25px;
  z-index: 3;
  height: 44px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 209px;
  border-radius: 0px !important;
  margin-right: auto !important;
  background: none !important;
  border-right: 1px solid #eee !important;
  font-weight: normal !important;
  font-size: 12px !important;
  padding: 5px;
  padding-top: 0px;
}

.timer .icon {
  width: 35px !important;
  background: none !important;
  position: relative;
  top: -3px;
}


.timer:hover .icon, .timer:hover select {
  color: teal;
}

.timer select{
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  width: 75%;
  align-items: center;
  padding-right: 20px;
  background: none;
  border: none;
}


/**
 * Top menu
 */
#app > .top-menu {
  padding: 5px 8px;
  display: flex;
  justify-content: flex-end;
  margin-left: -1;
}

/**
 * Resource menu
 */
.resource-menu {
    float: left;
    width: 150px;
}


/**
 * List
 */
.list {
  width: 200px;
  float:left;
  border-bottom: 1px solid lightgrey;
}

.list > .segment {
  border-bottom: 1px solid #D4D4D5 !important;
  width: 202px;
}

.list > .segment:hover {
  background: rgba(0, 0, 0, 0.02);
}

/**
 * Single
 */
main {
  float: right;
  width: calc(100% - 410px);
  padding: 10px;
  background-color: #eee;
  border-left: 1px solid #D4D4D5;
}

main .single {
  margin: 0 !important;
  z-index: 3 !important;
}

main .single .value {
  margin-left: 10px;
}
