/**
 * Global
 */
* {
  box-sizing: border-box;
}

body {
  padding: 25px;
}

#app {
  background-color: white;
  height: calc(100%);
  border-right: 1px solid lightgrey;
}

#app > :not(.top-menu) {
  height: calc(100% - 40px);
}



/**
 * Top menu
 */
#app > .top-menu {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  margin-left: -1;
}

/**
 * Resource menu
 */
.resource-menu {
    float: left;
    width: 150px;
}


/**
 * List
 */
.list {
  width: 200px;
  float:left;
  border-bottom: 1px solid lightgrey;
}

.list > .segment {
  border-bottom: 1px solid #D4D4D5 !important;
  width: 202px;
}

.list > .segment:hover {
  background: rgba(0, 0, 0, 0.02);
}

/**
 * Single
 */
main {
  float: right;
  width: calc(100% - 410px);
  padding: 10px;
  background-color: #eee;
  border-left: 1px solid #D4D4D5;
}

main .single {
  margin: 0 !important;
}


main .single.hidden {
  display: none;
}


main .single .value {
  margin-left: 10px;
}
